*{
    font-family: 'Hind', sans-serif;
    font-size: 18px;
}

h1{

    color: white;
    font-family: 'Hind', sans-serif;
    font-size: 3em;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

nav{
    max-height: 60px;
}

.nav-link{
    font-size: 25px;
}

.nav-link:hover{
    font-size: 25px;
    color: black;
    border-bottom: 3px solid red;
}

h2{
    font-family: 'Hind', sans-serif;
    font-size: 2em;
}

h3{
    font-family: 'Abel', sans-serif;
}


.bordure{
    background: linear-gradient(to right, red, purple);
    padding: 1px;
}


.img{
    max-width: 100%;
}

.card{
    border-color: red;
}

#full {
    background: linear-gradient(to right, red, purple);
    color: white;
    padding: 2rem; }

span{
    font-weight: bold;
}

a{
    text-decoration: none;
}


#header {
    background-size: cover;
    background-position: center center;
    background-image: url(img/banner-bg2.png);
    min-height: 350px;
    position: relative;
}

#button{
    font-size: 1.5em;
}

#text-contact{
    color: white;
}

.pixel{
    position: absolute;
    left: 10px;
    max-width: 300px;
    height: auto;
}

#hiddenbutton{
    position: absolute;
    left: 50px;
    top: 800px;
}

#conteneur{
    position: relative;
}


